:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100svh;
  display: block;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: inherit;
}

p {
  margin: 0;
}
